<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413668212722-4i3aj3qh323af8uki5ipqjde1s2nvkik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413668212722-4i3aj3qh323af8uki5ipqjde1s2nvkik</string>
	<key>API_KEY</key>
	<string>AIzaSyCix1Fnp-EnTMCQwf7Dc-ubmqNh8GPi9vg</string>
	<key>GCM_SENDER_ID</key>
	<string>413668212722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Individual.Learning</string>
	<key>PROJECT_ID</key>
	<string>learning-app-ede3c</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-ede3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413668212722:ios:399646399233f8ebd6356b</string>
</dict>
</plist>